/*  indice:

    01. Reused configuration;
    02. Commum configuration;
    03. Top bar;
    04. 
    05. 
    06. 
    07. 
    08. 
    
*/

/************* 01. Reused configurations ************
*/

.text-align-center {
    text-align: center;
}

.middle {
    margin-left: auto;
    margin-right: auto;
}

.s-width-100 {
    max-width: 1500px;
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

/************* 02. Commum configuration ************
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

/************* 03. Sidebar menu ************
*/

/************* 04. Top bar ************
*/

.top-bar {
    float: left;
}

.top-bar img {
    width: 42px;
    float: right;
    margin: 20px 20px 20px 0;
    cursor: pointer;
}

/************* 05. Header ************
*/

#header h1 b{
    font-size: 36px;
    font-weight: 900;
    color: #666;
    margin: 10px 0;
}

#header p {
    margin: 15px 0;
    font-weight: 600;
    color: #666;
}

/************* 06. Box Grid ************
*/

#boxGrid {
    display: grid;
    grid-template-areas: 
    'f-1-row f-1-row s-1-row s-1-row t-1-row t-1-row'
    'f-2-row f-2-row s-2-row s-2-row t-2-row t-2-row'
    'f-3-row f-3-row s-3-row s-3-row t-3-row t-3-row'
    'f-4-row f-4-row s-4-row s-4-row t-4-row t-4-row'
    'f-5-row f-5-row s-5-row s-5-row t-5-row t-5-row'
    'f-6-row f-6-row s-6-row s-6-row t-6-row t-6-row'
    ;
}

.f-1-row {
    grid-area: f-1-row;
}

.s-1-row {
    grid-area: s-1-row;
}

.t-1-row {
    grid-area: t-1-row;
}

.f-2-row {
    grid-area: f-2-row;
}

.s-2-row {
    grid-area: s-2-row;
}

.t-2-row {
    grid-area: t-2-row;
}

.f-3-row {
    grid-area: f-3-row;
}

.s-3-row {
    grid-area: s-3-row;
}

.t-3-row {
    grid-area: t-3-row;
}

.f-4-row {
    grid-area: f-4-row;
}

.s-4-row {
    grid-area: s-4-row;
}

.t-4-row {
    grid-area: t-4-row;
}

.f-5-row {
    grid-area: f-5-row;
}

.s-5-row {
    grid-area: s-5-row;
}

.t-5-row {
    grid-area: t-5-row;
}

.f-6-row {
    grid-area: f-6-row;
}

.s-6-row {
    grid-area: s-6-row;
}

.t-6-row {
    grid-area: t-6-row;
}

.first-r {
    float: left;
}